body {
    background-color: #F5D76E;
    background-image: url(images/light_honeycomb.png);
    padding-top: 80px;
}
/************************************/
/* Petit triangle au dessus du menu */
.usercard::before {
    content: "";
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    display: inline-block;
    position: absolute;
    border-bottom-color: #F3C13A;
    top: -8px;
    left: 200px;
}
.usercard {
    width: 250px;
    right: 100px;
    top: 10px;
    padding: 0 0 7px !important;
}
.usertab {
    color: white;
    font-size: 1.3rem;
    background-color: #F3C13A;
    overflow: hidden;
    padding: 20px 25px 14px;
    border-radius: 2px 2px 0 0;
    margin-bottom: 7px;
}
.fas{
    margin-right: 7px;
}
.badge-pill>.fas {
    margin: 0px !important;
    font-size: 1rem;
}
.btn>.fas {
    margin: 0px;
}
/***********************************************/
/* Restriction en hauteur des images de cartes */
.card-img-top, .card-img{
    height: 250px;
}
/***********************************/
/* Décoration des cartes au survol */
.card-link{
    color: black !important;
}
.card-link-container:hover {
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 10px 3px #F3C13A;
    -moz-box-shadow: 0px 0px 10px 3px #F3C13A;
    filter:progid:DXImageTransform.Microsoft.Glow(Color=#F3C13A,Strength=13);
    box-shadow: 0px 0px 10px 3px #F3C13A;
}
/**********************/
/* Style fil d'ariane */

.breadcrumb-arrow {
  height: 36px;
  padding: 0;
  line-height: 36px;
  list-style: none;
  background-color: rgba(100,100,100,0.3);
  margin-top: -14px;
}
.breadcrumb-arrow li:first-child a {
   border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
  display: inline-block;
  vertical-align: top;
}
.breadcrumb-arrow li:not(:first-child) {
  margin-left: -5px;
}
.breadcrumb-arrow li + li:before {
  padding: 0;
  content: "";
}
.breadcrumb-arrow li span {
  padding: 0 10px;
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
  height: 36px;
  padding: 0 10px 0 25px;
  line-height: 36px;
}
.breadcrumb-arrow li:first-child a {
  padding: 0 10px;
}
.breadcrumb-arrow li a {
  position: relative;
  color: white;
  text-decoration: none;
  background-color: #F3C13A;
  border: 1px solid #F3C13A;
}
.breadcrumb-arrow li:first-child a {
  padding-left: 10px;
}
.breadcrumb-arrow li a:before, .breadcrumb-arrow li a:after {
  position: absolute;
  top: -1px;
  width: 0;
  height: 0;
  content: '';
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}
.breadcrumb-arrow li a:before {
  right: -10px;
  z-index: 3;
  border-left-color: #F3C13A;
  border-left-style: solid;
  border-left-width: 11px;
}
.breadcrumb-arrow li a:after {
  right: -11px;
  z-index: 2;
  border-left: 11px solid #E08A1E;
}
.breadcrumb-arrow li a:hover, .breadcrumb-arrow li a:focus {
  background-color: #F5D76E;
  border: 1px solid #F5D76E;
}
.breadcrumb-arrow li a:hover:before, .breadcrumb-arrow li a:focus:before {
  border-left-color: #F5D76E;
}
.breadcrumb-arrow li a:active {
  background-color: #E29C45;
  border: 1px solid #E29C45;
}
.breadcrumb-arrow li a:active:before, .breadcrumb-arrow li a:active:after {
  border-left-color: #E29C45;
}
.breadcrumb-arrow li span {
  color: white;
}
